.env

app.py

data.py

data1.py

autoencoder_model.h5

encoder_model.h5

fakedata.py

model.py

orders_27500.xlsx

product_columns.pkl

recommendation_system.log

scaler.pkl

server.py

user_item_matrix.xlsx